.element__like {
  width: 25px;
  height: 22px;
  background: url(../../../images/like_white.svg);
  background-repeat: no-repeat;
  border: 0;
}
.element__like:hover {
  opacity: 0.5;
  cursor: pointer;
}
