.profile {
  max-width: 1280px;
  width: calc(100% - 2*200px);
  margin: 36px auto 47px auto;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
 }
 
@media screen and (max-width: 768px) {
  .profile {
    width: calc(100% - 2*50px);
    margin: 38px auto 23px auto;
    flex-direction: column;
  }  
}
@media screen and (max-width: 460px) {
  .profile{
    max-width: 282px;
    width: 100%;
  }  
}
