.profile__name {
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
font-weight: 500;
font-size: 42px;
line-height: 48px;
box-sizing: border-box;
padding-right: 15px;
}

@media screen and (max-width: 1270px) {
  .profile__name {
    max-width: 200px;
    margin: 0;
    font-size: 27px;
    line-height: 33px;
  }
}